@use '../../../styles/variables'

#About
    background: variables.$color-dark
    padding: 50px 90px
    &:hover
        border-top: 1px solid variables.$primary-color

.About__Title
    color: variables.$color-light

.About__Detail
    color: variables.$primary-color

.About__Text
    color: variables.$about-color-text
    font-size: 18px