@use '../../../styles/variables'

#About
    background: variables.$color-dark
    padding: 50px 90px

.About__Title
    color: variables.$color-light
    margin-bottom: 20px 

.About__Detail
    color: variables.$primary-color

.About__Text
    color: variables.$about-color-text
    font-size: 18px