@use '../../../styles/variables'

.TecList
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    justify-items: center
    margin: 20px
    gap: 4px
   
.TecList__Icon
    font-size: 40px

#LinkedIn
    color: #0072B1
    
