$primary-font: 'Roboto', sans-serif

$color-light: #FFF
$color-dark: #333
$color-light-gray: #DDD


$primary-color: #FF4E50
$primary-color-hover: #930124
$perfil-title-color: $color-dark
$about-color-text: $color-light-gray
