$primary-font: 'Roboto', sans-serif
$second-font: 'Poppins', sans-serif

$color-light: #FFF
$color-dark: #0F0202
$color-dark-gray: #333
$color-light-gray: #DDD


$primary-color: #c92805
$primary-color-hover: darken($primary-color, 10%)
$perfil-title-color: $color-dark-gray
$about-title-color: $color-dark-gray
$about-color-text: $color-light-gray

$introduction-font-family: $second-font
